<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864843607885-1ih5h0kgdpb672fvod4tpe9sigbohk7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864843607885-1ih5h0kgdpb672fvod4tpe9sigbohk7m</string>
	<key>API_KEY</key>
	<string>AIzaSyA8vc_RawmVtcy3lXCmkKbpP6RXdQC2waM</string>
	<key>GCM_SENDER_ID</key>
	<string>864843607885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>irklch.PerfectApp-Colchugina</string>
	<key>PROJECT_ID</key>
	<string>perfectapp-5e293</string>
	<key>STORAGE_BUCKET</key>
	<string>perfectapp-5e293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864843607885:ios:64328b593954abbf759104</string>
</dict>
</plist>